.DS_Store
.git
.gitmodules
*.booproj
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.dll
*.exe
*.pdf
*.mid
*.midi
*.wav
*.gif
*.ico
*.psd
*.tga
*.tif
*.tiff
*.3ds
*.3DS
*.lxo
*.LXO
*.ma
*.MA
*.obj
*.OBJ
*.asset
*.cubemap
*.flare
*.mat
*.meta
*.prefab
build/
Build/
Library/
library/
obj/
Obj/
ProjectSettings/
temp/
Temp/    
user.keystore
[Ll]ogs/
*.apk
Outputs/Treasure Trails_mapping.txt
Assets\Plugins\Android